@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts */
*{
  font-family: 'Fira Code',monospace;
  scroll-behavior: smooth;
}
/*---------------- 
reusable classes 
----------------*/
.w-0\.1{
  width: 0.01rem;
}

.w-76{
  width: 19.6rem;
}

.h-0\.2 {
  height: 0.02rem;
}

/* absolute */
.left-7\.5{
  left: 1.60rem;
}

/* borders */
.border-1{
  border-width: 1px;
}

.border-b-1{
  border-bottom-width: 1px;
}

.cert img{
  aspect-ratio: 1195/928;
}